.projects {
  padding: 100px 40px;
  text-align: center;
}

.projects-subtitle {
  color: #ff5a2f;
  font-size: 20px;
  margin-bottom: 10px;
}

.projects-title {
  font-size: 48px;
  margin-bottom: 50px;
}

/* 🔥 GRID INTELIGENTE */
.projects-grid {
  display: flex;
  justify-content: center; /* 👈 centra cuando hay 1 */
  gap: 30px;
  flex-wrap: wrap;
}

/* CARD */
.project-card {
  width: 400px;

  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  overflow: hidden;

  border: 1px solid rgba(255, 255, 255, 0.05);

  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.project-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* CONTENT */
.project-content {
  padding: 20px;
  text-align: left;
}

.project-content h3 {
  margin-bottom: 10px;
}

.project-content p {
  color: #aaa;
  font-size: 23px;
  margin-bottom: 15px;
}

/* TAGS */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
  cursor: pointer;

}

.tags-span {
  border: 1px solid rgba(255, 90, 47, 0.4);
  color: #ff5a2f;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 28px;
}

/* FOOTER */
.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 🔥 GITHUB LINK (sin azul feo) */
.github-link {
  display: flex;
  align-items: center;
  gap: 5px;

  text-decoration: none;
  color: #ccc;
  font-size: 14px;

  transition: 0.3s;
}

.github-link:hover {
  color: white;
}

/* 🔥 BOTÓN NARANJA */
.details-btn {
  background: #ff5a2f;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 5px;

  transition: 0.3s;
}

.details-btn:hover {
  background: #ff784f;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
  .projects-title {
    font-size: 32px;
  }

  .project-card {
    width: 100%;
  }
}