.project-detail {
  padding: 100px 20px;
  max-width: 1000px;
  margin: auto;
}


.project-header {
  text-align: center;
  margin-bottom: 40px;
}

.project-header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.project-header p {
  color: #aaa;
  max-width: 600px;
  margin: auto;
  font-size: 1.7rem;
}


.project-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.project-buttons a {
  text-decoration: none;
  color: white;
  border: 1px solid #444;
  padding: 8px 14px;
  border-radius: 20px;
}

.live-btn {
  background: #ff5a2f;
  border: none;
}


.project-meta {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.project-meta span {
  color: #888;
  font-size: 12px;
}


.carousel {
  position: relative;
  margin: 50px 0;
}

.carousel img {
  width: 100%;
  border-radius: 20px;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.carousel button:first-child {
  left: 10px;
}

.carousel button:last-child {
  right: 10px;
}


.project-section {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-section h2 {
  margin-bottom: 20px;
  font-size: 1.9rem;
}

.project-section p {
  font-size: 1.7rem;
  color: #aaa;
}


.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature h4 {
  color: #ff5a2f;
  font-size: 1.5rem;
}


.tech-box {
  background: rgba(20, 20, 20, 0.6);
  padding: 40px;
  border-radius: 20px;
  margin-top: 60px;
}


.tech-box h2 {
  margin-bottom: 25px;
}


.tech-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;
  margin-bottom: 30px;
}


.tech-grid div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tech-grid h4 {
  color: #ccc;
  font-size: 1.7rem;
}


.tech-grid span {
  display: inline-block;
  border: 1px solid rgba(255, 90, 47, 0.5);
  color: #ff5a2f;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 1.4rem;
  margin: 4px 6px 4px 0;
}


.tech-grid div>span {
  width: fit-content;
}


.tech-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}


.tech-buttons a {
  text-decoration: none;
  color: #ccc;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.tech-buttons a:hover {
  color: white;
}


.tech-buttons .live-btn {
  background: #ff5a2f;
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

.tech-buttons .live-btn:hover {
  background: #ff784f;
}


.back-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 30px;

  background: transparent;
  border: 1px solid rgba(255, 90, 47, 0.5);

  color: #ff5a2f;
  padding: 8px 14px;
  border-radius: 20px;

  cursor: pointer;
  transition: 0.3s;

  position: sticky;
  top: 20px;
}


.back-btn:hover {
  background: rgba(255, 90, 47, 0.1);
  border-color: #ff5a2f;
}


@media (max-width: 768px) {
  .project-header h1 {
    font-size: 28px;
  }

  .project-header p {
    font-size: 1.1rem;
  }

  .project-meta {
    flex-direction: column;
    gap: 15px;
  }

  .tech-grid {
    grid-template-columns: 1fr;
  }

  .tech-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .tech-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .tech-grid span {
    font-size: 0.9rem;
  }

  .tech-grid h4 {
    font-size: 1.3rem;
  }

  .tech-box h2{
    display: flex;
    justify-content: center;
   
  }

  .feature h4 {
    font-size: 1.3rem;
  }

  .feature p {
    font-size: 1.1rem;
  }

  .project-section p{
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .back-btn {
    font-size: 14px;
    padding: 6px 12px;
  }
}