* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
  background-color: #0f0f0f;
  color: white;
   padding-top: 80px;
}

html {
  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
}

section {
  scroll-margin-top: 100px;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}