.contact {
  padding: 100px 20px;
}


.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.contact-subtitle {
  color: #ff5a2f;
  font-size: 20px;
}

.contact-text {
  color: #aaa;
  max-width: 600px;
  margin: auto;
  font-size: 20px;
}


.contact-card {
   max-width: 1100px;
  margin: 60px auto;

  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;

  background: rgba(20,20,20,0.6);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  padding: 40px;

   box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}


.contact-left {
  text-align: left;
}

.contact-left p {
  color: #aaa;
  margin: 20px 0;
  line-height: 1.6;
}

.contact-info div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.contact-info svg {
  color: #ff5a2f;
  font-size: 18px;
}


.contact-links {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.contact-links a {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 20px;
  border: 1px solid #ff5a2f;
  color: #ff5a2f;
  transition: 0.3s;
}

.contact-links a:hover {
  background: rgba(255, 90, 47, 0.1);
  transform: translateY(-2px);
}

.contact-links .whatsapp {
  background: #ff5a2f;
  color: white;
}

.contact-links .whatsapp:hover {
  background: #ff784f;
}


.contact-right {
  flex: 1;
  text-align: left;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-right input,
.contact-right textarea {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.1);
  padding: 12px;
  border-radius: 12px;
  color: white;
  transition: 0.3s;
}

.contact-right input:focus,
.contact-right textarea:focus {
  outline: none;
  border-color: #ff5a2f;
  box-shadow: 0 0 0 2px rgba(255,90,47,0.2);
}

.contact-right textarea {
  min-height: 120px;
   resize: none;
}


.contact-right button {
  background: #ff5a2f;
  border: none;
  padding: 14px;
  border-radius: 25px;
  color: white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  gap: 10px;
  transition: 0.3s;
}

.contact-right button:hover {
  background: #ff784f;
  transform: translateY(-2px);
}


.contact-left,
.contact-right {
  opacity: 0;
  transition: all 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}


.contact-left {
  transform: translateX(-60px);
}

.contact-right {
  transform: translateX(60px);
}


.contact-left.show,
.contact-right.show {
  opacity: 1;
  transform: translateX(0);
}


.contact-left {
  transition-delay: 0.3s;
}

.contact-right {
  transition-delay: 0.6s;
}


@media (max-width: 768px) {
  .contact-card {
     grid-template-columns: 1fr;
    padding: 25px;
  }


  .contact-header h2 {
    font-size: 32px;
  }

  .contact-header p {
    text-wrap: wrap;
  }
}